.mainContact{
    width: 100%;
    height: calc(100vh - 330px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ConctactBottomContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.ContactMap{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ContactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.ContactForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ContactMap iframe{
    top: 10px;
    width: 70%;

}
.card{
    flex-direction: column;
    height: fit-content;
    min-height: 500px;
    max-width: 400px;
    border: 1px;
    border-radius: 20px;
    margin: 15px;
   -webkit-box-shadow: -8px -7px 19px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    -8px -7px 19px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         -8px -7px 19px 0px rgba(50, 50, 50, 0.4);
}
.col{
    padding-top: 10px;
    
}
.col a{
    color: black;
    text-decoration: none;
    
    transition: all 0.3s ease-in-out;
}
.col a #faIcon{
    color: #00bcd4;
    width: 30px;
    padding-right: 10px;
}
.col a:hover{
    color: #00bcd4;
    transform: scale(1.2);
}
.contactMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
    color: #00bcd4;
}
.ContactForm input, .ContactForm textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #00bcd4;
    font-size: larger;
    font-weight: bolder;
}
.ContactForm button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #00bcd4;
    font-size: larger;
    font-weight: bolder;
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.ContactForm button:hover{
    background-color: white;
    color: #00bcd4;
}
 @media screen and (max-width: 800px) {
    .mainContact{
        top: 0;
        flex-direction: column;
    }
    .ConctactBottomContainer{
        margin-top: 20px;
        flex-direction: column;
        width: 90%;
    }
    .ContactInfo{
        width: 100%;
        padding: 0;
    }
    .ContactMap{
        width: 100%;
        top: 0;
    }
    .ContactMap iframe{
        width: 100%;
    }
    .ContactForm{
        width: 100%;
    }
    /* .map-responsive iframe{
        display: none;
    } */

}